- name: formatted-price
  referenceId: P71EWEL2
  pipelines:
    - name: techdocs-v1
      parameters:
        entityReference: default/component/formatted-price
        indexFile: README.md
      when:
        - event: push
          source: branch
          regex: master
          path:
            - "docs/**"
            - ".vtex/deployment.yaml"
            - ".vtex/deployment.json"
            - "README.md"
